In [1]:
import numpy as np
import math
import pandas as pd

# Part 1

In [2]:
data=pd.read_csv("play_tennis.csv")

In [3]:
data

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

# Entropy Calculator

In [4]:
def entropycalculator(Pyes,Pno):
    if(Pyes==0 or Pno==0):
        E=0
        return E
    else:
        log_yes=math.log(Pyes,2)
        log_no=math.log(Pno,2)
        E=-(Pyes*log_yes)-(Pno*log_no)
        return round(E,2)

# Weighted Entropy Calculator

In [5]:
def weightedentropy(P1,E1,P2,E2,P3,E3):
    WE=(P1*E1)+(P2*E2)+(P3*E3)
    return round(WE,2)

In [6]:
def weightedentropy1(P1,E1,P2,E2):
    WE1=(P1*E1)+(P2*E2)
    return round(WE1,2)

# Information Gain Calculator

In [7]:
def informationgain(E1,WE):
    IG=E1-WE
    return IG

# Calculation Of Entropy of Parent

In [8]:
Pyes=data[data['play']=='Yes'].shape[0]/data.shape[0]
Pno=data[data['play']=='No'].shape[0]/data.shape[0]

In [9]:
Eparent=entropycalculator(Pyes,Pno)
Eparent

0.94

# Calculation Of Entropy Of Children

# Outlook

In [10]:
pd.crosstab(data['outlook'],data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [11]:
Pono=0
Poyes=1
Prno=2/5
Pryes=3/5
Psno=3/5
Psyes=2/5
Po=4/14
Pr=5/14
Ps=5/14

In [12]:
Eo=entropycalculator(Poyes,Pono)
Er=entropycalculator(Pryes,Prno)
Es=entropycalculator(Psyes,Psno)

In [13]:
WEoutlook=weightedentropy(Po,Eo,Pr,Er,Ps,Es)

In [14]:
informationgain(Eparent,WEoutlook)

0.25

# Temp

In [15]:
pd.crosstab(data['temp'],data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [16]:
Pcno=1/4
Pcyes=3/4
Phno=1/2
Phyes=1/2
Pmno=2/6
Pmyes=4/6
Pc=4/14
Ph=4/14
Pm=6/14

In [17]:
Ec=entropycalculator(Pcyes,Pcno)
Eh=entropycalculator(Phyes,Phno)
Em=entropycalculator(Pmyes,Pmno)

In [18]:
WEtemp=weightedentropy(Pc,Ec,Ph,Eh,Pm,Em)

In [19]:
informationgain(Eparent,WEtemp)

0.029999999999999916

# Humidity

In [20]:
pd.crosstab(data['humidity'],data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [21]:
Phno=4/7
Phyes=3/7
Pnno=1/7
Pnyes=6/7
Ph=7/14
Pn=7/14

In [22]:
Eh=entropycalculator(Phyes,Phno)
En=entropycalculator(Pnyes,Pnno)

In [23]:
WEhumidity=weightedentropy1(Ph,Eh,Pn,En)

In [24]:
informationgain(Eparent,WEhumidity)

0.1499999999999999

# Wind

In [25]:
pd.crosstab(data['wind'],data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [26]:
Psno=3/6
Psyes=3/6
Pwno=2/8
Pwyes=6/8
Ps=6/14
Pw=8/14

In [27]:
Es=entropycalculator(Psyes,Psno)
Ew=entropycalculator(Pwyes,Pwno)

In [28]:
WEwind=weightedentropy1(Ps,Es,Pw,Ew)

In [29]:
informationgain(Eparent,WEwind)

0.04999999999999993

# As the Information Gain for 'outlook' column is maximum so the first split will occur on 'outlook' column.

# Part 2

In [30]:
data1=pd.read_csv("iris.csv")

In [31]:
data1.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [32]:
data1.sort_values('PetalLengthCm',inplace=True)

In [33]:
data1.head()

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
22  23            4.6           3.6            1.0           0.2  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
35  36            5.0           3.2            1.2           0.2  Iris-setosa
36  37            5.5           3.5            1.3           0.2  Iris-setosa

In [34]:
setosa=data1[data1["Species"]=="Iris-setosa"]
virginica=data1[data1["Species"]=="Iris-virginica"]
versicolor=data1[data1["Species"]=="Iris-versicolor"]

In [35]:
setosa['PetalLengthCm'].max()

1.9

In [36]:
setosa['PetalLengthCm'].min()

1.0

In [37]:
virginica['PetalLengthCm'].max()

6.9

In [38]:
virginica['PetalLengthCm'].min()

4.5

In [39]:
versicolor['PetalLengthCm'].max()

5.1

In [40]:
versicolor['PetalLengthCm'].min()

3.0

In [53]:
mask1=data1['PetalLengthCm']>=4.5
mask2=data1['PetalLengthCm']<=5.1
new=data1[mask1 & mask2]

In [54]:
new['Species'].value_counts()

Iris-versicolor    21
Iris-virginica     16
Name: Species, dtype: int64

In [55]:
Pve=21/37
Pvi=16/37

In [68]:
Eparent1=entropycalculator(Pve,Pvi)

In [69]:
pd.crosstab(new['PetalLengthCm'],new['Species'])

Species        Iris-versicolor  Iris-virginica
PetalLengthCm
4.5                          7               1
4.6                          3               0
4.7                          5               0
4.8                          2               2
4.9                          2               3
5.0                          1               3
5.1                          1               7

# f>4.5

In [72]:
Pver=7/8
Pvir=1/8
Eless=entropycalculator(Pver,Pvir)
Pver1=14/29
Pvir1=15/29
Egreat=entropycalculator(Pver1,Pvir1)
Pless=8/37
Pgreat=29/37
WE1=weightedentropy1(Pless,Eless,Pgreat,Egreat)
informationgain(Eparent1,WE1)

0.08999999999999997

# f>4.6

In [73]:
pd.crosstab(new['PetalLengthCm'],new['Species'])

Species        Iris-versicolor  Iris-virginica
PetalLengthCm
4.5                          7               1
4.6                          3               0
4.7                          5               0
4.8                          2               2
4.9                          2               3
5.0                          1               3
5.1                          1               7

In [74]:
Pver2=10/11
Pvir2=1/11
Eless1=entropycalculator(Pver2,Pvir2)
Pver3=11/26
Pvir3=15/26
Egreat1=entropycalculator(Pver3,Pvir3)
Pless1=11/37
Pgreat1=26/37
WE2=weightedentropy1(Pless1,Eless1,Pgreat1,Egreat1)
informationgain(Eparent1,WE2)

0.17000000000000004

# f>4.7

In [75]:
pd.crosstab(new['PetalLengthCm'],new['Species'])

Species        Iris-versicolor  Iris-virginica
PetalLengthCm
4.5                          7               1
4.6                          3               0
4.7                          5               0
4.8                          2               2
4.9                          2               3
5.0                          1               3
5.1                          1               7

In [76]:
Pver4=15/16
Pvir4=1/16
Eless2=entropycalculator(Pver4,Pvir4)
Pver5=6/21
Pvir5=15/21
Egreat2=entropycalculator(Pver5,Pvir5)
Pless2=16/37
Pgreat2=21/37
WE3=weightedentropy1(Pless2,Eless2,Pgreat2,Egreat2)
informationgain(Eparent1,WE3)

0.35

# f>4.8

In [77]:
pd.crosstab(new['PetalLengthCm'],new['Species'])

Species        Iris-versicolor  Iris-virginica
PetalLengthCm
4.5                          7               1
4.6                          3               0
4.7                          5               0
4.8                          2               2
4.9                          2               3
5.0                          1               3
5.1                          1               7

In [78]:
Pver6=17/20
Pvir6=3/20
Eless3=entropycalculator(Pver6,Pvir6)
Pver7=4/17
Pvir7=13/17
Egreat3=entropycalculator(Pver7,Pvir7)
Pless3=20/37
Pgreat3=17/37
WE4=weightedentropy1(Pless3,Eless3,Pgreat3,Egreat3)
informationgain(Eparent1,WE4)

0.30000000000000004

# f>4.9

In [79]:
pd.crosstab(new['PetalLengthCm'],new['Species'])

Species        Iris-versicolor  Iris-virginica
PetalLengthCm
4.5                          7               1
4.6                          3               0
4.7                          5               0
4.8                          2               2
4.9                          2               3
5.0                          1               3
5.1                          1               7

In [80]:
Pver8=19/25
Pvir8=6/25
Eless4=entropycalculator(Pver8,Pvir8)
Pver9=2/12
Pvir9=10/12
Egreat4=entropycalculator(Pver9,Pvir9)
Pless4=25/37
Pgreat4=12/37
WE5=weightedentropy1(Pless4,Eless4,Pgreat4,Egreat4)
informationgain(Eparent1,WE5)

0.24

# f>5.0

In [82]:
pd.crosstab(new['PetalLengthCm'],new['Species'])

Species        Iris-versicolor  Iris-virginica
PetalLengthCm
4.5                          7               1
4.6                          3               0
4.7                          5               0
4.8                          2               2
4.9                          2               3
5.0                          1               3
5.1                          1               7

In [83]:
Pver10=20/29
Pvir10=9/29
Eless5=entropycalculator(Pver10,Pvir10)
Pver11=1/8
Pvir11=7/8
Egreat5=entropycalculator(Pver10,Pvir10)
Pless5=29/37
Pgreat5=8/37
WE6=weightedentropy1(Pless5,Eless5,Pgreat5,Egreat5)
informationgain(Eparent1,WE6)

0.09999999999999998

# As the Information Gain is highest at 4.7 so the split will occur at 4.7 and the splitting criteria will be f>4.7 and
# if the flower has the Petal Length less than 3cm will be a Iris Setosa
# if the flower has the Petal Length higher than 3cm but lesser than 4.7 will be Iris Versicolor
# if the flower has the Petal Length greater than 4.7 will be a Virginica